!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/[if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}

    %link{:href => "//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css", :rel => "stylesheet"}

    / %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", :rel => "stylesheet"}

    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      p {
        text-align: justify;
      }
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

    / %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet"}
    / responsive CSS must be after padding css 
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-responsive.min.css", :rel => "stylesheet"}

    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"}

    %link{:href => "apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href => "favicon.ico?v=2", :rel => "shortcut icon"}
  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    / This code is taken from http://twitter.github.com/bootstrap/examples/hero.html
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} HeroBroTheme
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Action
                  %span{:class => 'caret'}
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li.nav-header Nav header
                  %li
                    %a{:href => "#"} Separated link
                  %li
                    %a{:href => "#"} One more separated link
            %form.navbar-form.pull-right
              %input.span2{:placeholder => "Email", :type => "text"}
              %input.span2{:placeholder => "Password", :type => "password"}
              %button.btn{:type => "submit"} Sign in
          / /.nav-collapse
    .container
      / Main hero unit for a primary marketing message or call to action
      .hero-unit
        %h1 Platform Launch
        %p
          %a.btn.btn-primary.btn-large Learn more »
      / Example row of columns
      .row
        .span6
          %h2 Something A
          %p Details of Something A
          %p
            %a.btn{:href => "#"} View details »
        .span6
          %h2 Something B
          %p Details of Something B
          %p
            %a.btn{:href => "#"} View details »
      %hr
        %footer
          %p
            %a{:href => "//www.mglim.com"} © A MGLIM Project
    / /container    
    / JQuery needs to be loaded first!
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => "//code.jquery.com/ui/1.10.1/jquery-ui.js"}

    / %script{:src => "js/vendor/bootstrap.min.js"}
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"}

    / %script{:src => "js/vendor/kinetic-v4.3.3.min.js"}
    %script{:src => "//d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.3.3.min.js"}

    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));